<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Digital Slide Case Uploader</title>

  {% load static %}

  <link rel="stylesheet" href="https://cdn.webix.com/edge/webix.css">
  <script src="https://cdn.webix.com/edge/webix.js"></script>

  <!-- Load YOUR CSS from same folder -->
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
<div class="main-container">
  <div class="uploader-card">
    <h2>Digital Slide Case Uploader</h2>

    <div id="dropzone">📁 Drop slides here or click to choose files</div>

    <div id="filterBar">
      <span class="label">Filter by label:</span>
      <label><input type="checkbox" class="tag-filter" value="H&E" checked> H&E</label>
      <label><input type="checkbox" class="tag-filter" value="PDL-1" checked> PDL-1</label>
      <label><input type="checkbox" class="tag-filter" value="PDL-1 (NC)" checked> PDL-1 (NC)</label>
    </div>

    <div class="file-container-card">
      <div id="fileList"></div>
    </div>

    <div style="margin-top:20px;">
      <button class="btn" id="uploadDSABtn">Upload to DSA</button>
      <button class="btn" id="uploadS3Btn" >Upload Case to S3</button>

    </div>

    <div id="statusMsg" style="margin-top:10px;font-weight:500;"></div>
  </div>
</div>

<!-- Load YOUR JS from same folder -->
<script src="{% static 'script.js' %}"></script>

</body>
</html>
